state/**/*.hold
state/**/*.export
state/**/*.vars
state/**
modules/*-module.sh*
lib/drivers/*_driver.sh
lib/drivers/installed_drivers.sh
!lib/drivers/bash_driver.sh
templates/*.template
!templates/bash.template
**/*.swp
backup
test/kcov
config.sh

util/dist
util/btm.tar.gz
util/version.env
