arguments_example() {
  EXAMPLE_DESCRIPTION="An example task"
  EXAMPLE_REQUIREMENTS="in:i:str out:o:str"
  EXAMPLE_OPTIONS="force:f:bool"
}

task_example() {
  if [[ -n "$ARG_FORCE" ]]
  then
    echo Forcing...
  fi
  echo "IN:$ARG_IN OUT:$ARG_OUT"
}
